
div{
  align-items: center !important;
  text-align: center !important;
}

.button{
  margin: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 18px;
  padding: 6px 40px;
  size: 40px;
  background-color: #0086f3;
  border-radius: 6px;
  border-color: #0086f3;
  color: white;
}