.Podcast-box{
  display: inline-block;
  width: 50%;
  background-color: rgb(0, 82, 165);
  color: white; 
  /* font: "Segoe UI"; */
  margin: 16px;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(204, 204, 204);
  padding-bottom: 32px;
}

div{
  text-align: center;
  align-items: center;
}