@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  background: #142642;
  padding: 16px;
  padding-top: center;
  padding-left: 35px;
  color: rgb(255, 255, 255);
  align-items: center;
  text-align: left !important;
}

h1 {
  color:rgb(131, 154, 255);
  font-size: 28px;
  font-family: Charcoal, sans-serif;
  word-spacing: 1.6px;
  font-weight: 700;
}

button{
  padding: 4px 30px;
  background-color: #52affc;
  color: white;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
