@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  background: #142642;
  padding: 16px;
  padding-top: center;
  padding-left: 35px;
  color: rgb(255, 255, 255);
  align-items: center;
  text-align: left !important;
}

h1 {
  color:white;
  font-size: 28px;
  word-spacing: 1.6px;
  font-weight: 700;
}

h2{
  color:white;
  font-size: 24px;
  margin: 0px;
  margin-bottom: 16px;
}

hr{
  size: 8px;
  border-color: rgb(105, 180, 255);
  width: 45%;
  margin: 20 25% 20 25%;
  margin-bottom: 20px;
}

button{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  size: 36px;
  color: white;

  margin: 10px;
  margin-bottom: 18px;
  padding: 6px 36px;

  background-color: #2196f7;
  border-radius: 6px;
  border-color: #2196f7;  
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
